<header> 
  <ul>
    <li> <a href="/"> Home </a> </li>
    <li> <a href="/events"> Vote </a> </li>
    <li> <%= link_to "profile", "/users/", method: "get" %> </li>
    <li> <a href="/users"> Roster </a> </li>
  </ul>
</header>