<br>
<h1> Vote on What day we Ball </h1>
<h3> Weekend Forcast </h3>

<div id="forcasts">
  <div id="saturday-forcast"> 
    <h3> Saturday Forcast:</h3>
    <h1 id="sat-weather-icon-id"></h1>
    <div id="sat-desciption">sat desciption</div>
    <div id="sat-temp"> temp </div>
  </div>
  <div id="sunday-forcast">
    <h3> Sunday Forcast:</h3>
    <h1 id="sun-weather-icon-id"> </h1>
    <div id="sun-desciption">sun desciption</div>
    <div id="sun-temp"> temp </div>
  </div>
</div>

<div id="scoreboard">
  <h3> Saturday Votes:</h3>
  <p id="sat-vote-score"> 0 </p>
  <button id="sat-vote-btn"> Vote For Sat </button>
  <h3> Sunday Votes:</h3>
  <p id="sun-vote-score"> 0  </p>
  <button id="sun-vote-btn"> Vote For Sun </button>
</div>

<br>

</body>
<script type="text/javascript" src="base.js"></script>
</html>