
<br>
<br>

<h1> Vote on What day we Ball </h1>
<div> 
  <h3> Saturday Forcast:</h3>
  <div id="sat">sat</div>
  <h3> Sunday Forcast:</h3>
  <div id="sun">sun</div>
</div>

<div>
  <h3> Saturday Votes:</h3>
  <p id="sat-vote-score"> 0 </p>
  <button id="sat-vote-btn"> Vote For Sat </button>
  <h3> Sunday Votes:</h3>
  <p id="sun-vote-score"> 0  </p>
  <button id="sun-vote-btn"> Vote For Sun </button>
</div>

</body>
<script type="text/javascript" src="base.js"></script>
</html>