<h1> Welcome To Hoops Crew! </h1>

<h2> the bestest most fun and inclusive basketball meetup in Oakland </h2>

<img src="http://i.cdn.turner.com/nba/nba/teamsites/images/legacy/warriors/LogoPrimary_300x329.jpg"> 
<br>

<% if current_user %>
  <%= link_to "logout", "/sessions", method: :delete %>
<%else%>
  <%= link_to "sign up", "/users/new" %>
  <%= link_to "sign in", "/signin" %>
<%end%>

<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %>  </div>
<%end%>