<h1>All Messages</h1>

<table id="messages">
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td class="content"><%= message.content %></td>
        <!-- broke ass link -->
        <td><%= link_to 'Show', "#{current_user.id}/messages/#{message.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New message', new_message_path %>