<div class="msgs-background">
<h1>All Messages</h1>

<% if flash[:notice] %>
  <div class="notice"> <%= flash[:notice] %>  </div>
<%end%>
<%= button_to 'New message', new_message_path, method: :get, class: "btn btn-success btn-lg" %>

<div id="messages">
    <% @messages.each do |message| %>
      <div class="row">
        <div class="msg-content col-md-3 col-centered ">
          Message: <%= message.content %> 
          <br>
          From: <%= message.user.name %> 
        </div>
        <!-- broke ass link -->
      </div>
    <% end %>
</div>
</div>

<!-- link to msg details? -->

<br>

<!-- need link to SHOW message details, method_path -->