// Place all the styles related to the landing_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  // background: url('app/assests/images/court.png');
  text-align: center;  
  background-image: url("logo.jpg");
  background-size: cover;
}




.sign-up {
  background-color: #FFC284;
}

.sign-up:hover {
  background-color: lightgreen;
}

.sign-in {
  background-color: #FFC284;
}

.sign-in:hover {
  background-color: lightgreen;
}


