// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sat-weather {
  margin: 40x;
  border: 1px solid black;
  border-radius: 5px

}

.player-content {
  border: 1px solid black;
  margin: 10px;
  padding: 1%;
  border-radius: 3px;
}

.col-centered{
    float: none;
    margin: 1% auto;
}

.player-profile {
  border: 1px solid black;
  border-radius: 3px;
  padding-bottom: 3%;
}

.prof-btns {
  margin: .25%;
  height: 2%;
  width: 7%;
  // background-color: lightgreen;
}

